<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Suggested exercises for each muscle group</title>
    <style></style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">Bench Press</div>
        <div class="col">Squat</div>
        <div class="w-100"></div>
        <div class="col">Deadlift</div>
        <div class="col">Chest Press</div>
        <div class="container">
            <div class="row">
                <div class="col">Incline Dumbbell Press</div>
                <div class="col">Tricep Pushdown</div>
                <div class="w-100"></div>
                <div class="col">Lateral Shoulder Raise</div>
                <div class="col">Military Press</div>
                <div class="container">
                    <div class="row">
                        <div class="col">Lat Pull Down</div>
                        <div class="col">Leg Press</div>
                        <div class="w-100"></div>
                        <div class="col">Skull Crusher</div>
                        <div class="col">Barbell Rows</div>
                    </div>
                </div>
                </div>
                </div>
            </div>
        </div>
</body>
