<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            margin-top: 15%;
            background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.muscleandstrength.com%2Fworkouts%2Farnold-schwarzenegger-volume-workout-routines&psig=AOvVaw1HBnK7ov76SQe1EpePXWr7&ust=1629338059359000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCMjusLW7ufICFQAAAAAdAAAAABAv");
        }
        h1{
            margin-left: 40%;
        }


    </style>
</head>
<body>
<h1 style="color:darkred" th:text="${something}"/>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">Exercise</th>
        <th scope="col">Weight</th>
        <th scope="col">Reps</th>
        <th scope="col">Sets</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="trainer: ${training}">
        <form th:action="@{/submitExercise}" th:object="${trainer}" method="post">
            <input type="hidden" th:value="*{id}" name="id">
            <td><input type="text" th:value="*{exercise}" name="exercise"></td>
            <td><input type="text" th:value="*{weight}" name="weight"></td>
            <td><input type="text" th:value="*{reps}" name="reps"></td>
            <td><input type="text" th:value="*{sets}" name="sets"></td>
            <td><button type="submit">Save</button></td>
        </form>
    </tr>
    <tr>
        <form th:action="@{/submitExercise}" th:object="${trainer}" method="post">
            <input type="hidden"  name="id">
            <td><input type="text" value="Insert Exercise" name="exercise"></td>
            <td><input type="text" value="Insert weight" name="weight"></td>
            <td><input type="text" value="Insert Reps" name="reps"></td>
            <td><input type="text" value="Insert Sets" name="sets"></td>
            <td><button type="submit">Save</button></td>
        </form>
    </tr>
    </tbody>
</table>
</body>
</html>